<mat-card class="max-widht-card mb-5">
  <mat-card-header class="mb-2 justify-content-center">
    <div class="input-group mx-3">
      <span class="input-group-text">
        <mat-icon>search</mat-icon>
      </span>
      <input type="text" class="form-control" placeholder="Search" />
    </div>
    <button
      style="background-color: #1e4135"
      mat-fab
      extended
      class="fab-button"
      matTooltip="Add Farm"
      matTooltipPosition="below"
    >
      <mat-icon>add</mat-icon>
      Add Farm
    </button>

    <button
      style="background-color: #1e4135"
      mat-fab
      class="icon-button"
      matTooltip="Add Farm"
      matTooltipPosition="below"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="row"></div>
  </mat-card-content>
</mat-card>
